<nav class="sidebar">
    <ul class="list-unstyled">
        <li><a href="/balance/show"><i class="fa-solid fa-filter"></i> Silos</a></li>


        

        <li>
            <a href="#submenu11" data-toggle="collapse">
                <i class="fa-brands fa-markdown"></i></i> Movimentos
            </a>
            <ul id="submenu11" class="list-unstyled collapse">
                <li><a href="/loading/create"> Registrar Carregamento</a></li>
                <li><a href="/appointments/create"> Registrar Apontamentos</a></li>
                <li><a href="/loading/show"> Lista de Movimentos</a></li>
                <li><a href="/balance/show"> Saldo dos Silos</a></li>
                
            </ul>
        </li>

        <li>
            <a href="#submenu1" data-toggle="collapse">
                <i class="fa-solid fa-user-group"></i>   Usuários
            </a>
            <ul id="submenu1" class="list-unstyled collapse">
                <li><a href="/register"><i class="fa-solid fa-user"></i> Cadastrar Usuário</a></li>
                <li><a href="/show"><i class="fas fa-users"></i> Usuários</a></li>

            </ul>
        </li>

        <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Sair</a></li>
    </ul>
</nav>

